$looking: #000042bf;
$assessing: #1168d9bf;
$assessed: #00d99fbf;
$seen: #00bedabf;
$start: #2bc32b;
$optimal: #fffe6a;
$primary: #afd8f8;
$secondary: #f7f9f9;
$grey: #395066;
$white: #fff;
$wall: #0c3547;
$target: #c52626;

$mobile: 720px;
$tablet: 1000px;
