$looking: #8f94fb;
$seen: #4e54c8;
$start: #2bc32b;
$optimal: #f7b801;
$primary: #78d5d7;
$secondary: #f7f9f9;
$grey: #395066;
$white: #fff;
$wall: #395066;
$target: #c52626;

$mobile: 720px;
$tablet: 1000px;
